
#apm_playlist_container {

    width: 300px;
}

body {
    background:#eee;
    background-image:url('../../imgs/simple-guy.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: 100% 0% ;
 }
