body {
    background:#eee;
    background-image:url('../imgs/ladies_black_850.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: 92% 0%;
 }

table.section td {
    padding: 8px;
}
table.section
{
    border-collapse: seperate; /* 'cellspacing' equivalent */
    border-spacing: 50px;
}


table.player {  width: 10%;  }

.container { margin:40px  0  0 70px; font-size:14px; }

.head {font-family: 'Faster One', cursive; width: 500px; color:#000000; background-color:#eee; font-size:70px;  line-height:20px; }
.subhead { font-family: 'Waiting for the Sunrise', cursive; font-weight: 100;  background-color:#eee; width: 340px; font-size:24px; color:#000000;  }

.section { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 200; color:#000000; background-color:#fff; border-radius: 5px; width: 60%; padding-left: 30px; border-spacing:15px}
.section_head { font-family: 'Waiting for the Sunrise', cursive;  background-color:#fff; width: 250px; color:#000000; font-size:24px;   }


/*a { font-family: 'Comfortaa', cursive; color:#EE4400; text-decoration:none; font-weight:bold;}
a:hover { font-family: 'Comfortaa', cursive; text-decoration:underline; font-weight:bold;}
table a{ font-family: 'Comfortaa', cursive; text-decoration:none; font-weight:bold;}
table a:hover { font-family: 'Comfortaa', cursive; text-decoration:underline; font-weight:bold;}

table.nav {  width: 100%; border-spacing:0px; height:35px; }

.container { margin:40px  0  0 70px; font-size:14px;}

.head {font-family: 'Comfortaa', cursive; width: 500px; color:#251100; font-size:70px;  line-height:80px; }
.subhead { font-family: 'Comfortaa', cursive; font-weight: 200; width: 300px; font-size:16px;  background-color:#fffae7; color:#251100;  }

.section { font-family: 'Comfortaa', cursive; font-weight: 200; color:#251100; background-color:#f6e9b6; border-radius: 15px; width: 60%; border-spacing:15px}
.section_head { font-family: 'Comfortaa', cursive;  background-color:#f6e9b6; width: 250px; color:#251100; font-size:30px;   }


*/

.floatright { float: right; padding: 0 0 0 10px }
.floatleft { float: left; padding:10px 20px 0 0 }

.fb-like { padding: 0; vertical-align:top; }
.social { width:190px; text-align:left;  }

.header {
    font-family: 'IM Fell English', serif;
    font-size:60px;
    background-color:#eee;
    width: 475px;
}



